<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Routines</title>
  </head>
  <body>
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
    <h1>Welcome, <%= @user.username %>!</h1>
    <% if @user.routines.empty? %>
    <h3><i>Oops! You don't have any routines listed. Click <a href="/routines/new">here</a> to create a new routine.</i></h3>
    <% else %>
    <h3><i>Your routines:</i></h3>
    <ul>
      <% @user.routines.each do |routine| %>
      <li> <a href="/routines/<%= routine.id %>"><%= routine.name %></a></li>
      <% end %>
    </ul><br>

    <h3>Click <a href="/routines/new">here</a> to create a new routine.</i></h3>
    <% end %>
    <br>
    <a href="/tasks/index">View Available Tasks</a><br><br>

    <a href="/users/logout">Logout</a>
  </body>
</html>
