<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Routines</title>
  </head>
  <body>
    <h1>Welcome, <%= @user.username %>!</h1>
    ---- links to your routines<br>
    ---- option to create new routine<br>
    ---- link to logout
  </body>
</html>
