<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Task</title>
  </head>
  <body>

    <h3><i>Create a new task:</i></h3>
    <form action="/tasks/new" method="post">
      New Task: <input type="text" name="task[name]">
      <input type="submit" value="Create Task">
    </form>
  </body>
</html>
