<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Routine Tracker: Signup</title>
  </head>
  <body>
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
    <h1>Welcome to the Routine Tracker!</h1>
    <h4>
      Please enter a username, email, and password to signup:
    </h4>
    <form action="/signup" method="post">
      Username: <input type="text" name="user[username]" id="username"><br><br>
      Email: <input type="text" name="user[email]" id="email"><br><br>
      Password: <input type="text" name="user[password]" id="password"><br><br>
      <input type="submit" value="Signup">
    </form>
  </body>
</html>
