<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Routine Tracker</title>
  </head>
  <body>
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
    <h1>Welcome to the Routine Tracker!</h1>
    <a href="/users/signup">Sign Up</a> <br><br> <a href="/users/login">Log In</a></h3>
  </body>
</html>
